.wrapper {
   @apply flex flex-col items-center justify-center w-full h-full;
}

.mainBlock {
   @apply flex items-center p-4 my-5 rounded-[10px] shadow-[0px_4px_4px_0px_rgba(0,0,0,0.4)] bg-[rgba(0,0,0,0.6)] w-[clamp(85%,_40vw,_589px)] overflow-y-auto scrollbar-hide;

   &:hover {
      @apply bg-[rgba(0,0,0,0.8)] transition-colors duration-300;
   }
}
.mainBlock h2 {
   @apply text-2xl font-bold leading-[35px] tracking-normal text-center uppercase mb-3;
   background: rgba(217, 217, 217, 0.1);
}

.title h2 {
   color: aquamarine;
   background: none;
}

.mainBlock,
.info,
.block {
   @apply flex flex-col w-full mb-3;
}

.info {
   @apply mb-0;
}

.blockWrapper {
   @apply flex gap-4 flex-wrap;

   & a {
      @apply underline;
   }
}
